<h4>Why You'll <span class='bold italic'>love</span> Energy Simply</h4>
<ul class='love-spacing'>
  <li>We aren't an electric company, <span class='bold'>we're your ally</span></li>
  <li>Never have to sign yourself up for a plan again</li>
  <li>Average customers save $50+ EVERY month</li>
  <li>Get a 30-day free trial and then pay only $5/month</li>
</ul>
