<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head> <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> </head>

<body>

<p>Hello <%=@customer.first_name %>,<br><br>


Thank you for signing up for EnergySimp.ly.<br><br>

You can sign into Energy Simply with the following credentials:<br/>
&nbsp;&nbsp;&nbsp;Email:&nbsp;<%=@customer.email %><br/>
&nbsp;&nbsp;&nbsp;Password:&nbsp;<%=@plain_pass%>
<br><br>

<b>Next Steps:</b><br><br>

 1) Send us a copy of your latest electricity bill if you haven't already<br>
 		&nbsp;&nbsp;a) Take a picture of your bill with your phone and email to admin@energysimp.ly<br>
 		&nbsp;&nbsp;b) Scan and email a copy of your bill to admin@energysimp.ly
<br><br>
 2) Within 24 hours we will call you to review the current best plan and switch your plan for you (if that is the best current option).
<br><br>
3) Please spread the word about Energy Simply using this link: <%= "https://energysimp.ly/" + @customer.referral_key %><br/><br/>Earn rewards when friends sign up. You will receive a <b>Philips LED light bulb</b> for your first referral, and you can earn many other energy-saving prizes for additional referrals, including a <b>Nest Thermostat</b> if you refer 25 people. <br/><br/>
If you have any questions or comments, please call us at 844-586-9850
or email us at <a href="mailto:admin@EnergySimp.ly">admin@EnergySimp.ly</a>.
<br><br>
Thanks again,
<br><br>
Jordan Hobfoll<br>
CEO <a href="https://EnergySimp.ly">EnergySimp.ly</a></p>


</body>
</html>
