  <div class="field">
    <%= f.label :svc_address_1 %><br>
    <%= f.text_field :svc_address_1, class: "form-control" %>
  </div><br />
  
  <div class="field">  
    <%= f.label :svc_address_2 %><br>
    <%= f.text_field :svc_address_2, class: "form-control" %>
  </div>