<div class='sign-up-progress-head row'>
  <span id='progressLineLeft'></span>
  <span id='progressLineRight'></span>
  <span id='progressLineDot1'></span>
  <span id='progressLineDot1_text'>
    Create<br>Account
  </span>
  <span id='progressLineDot2'></span>
  <span id='progressLineDot2_text'>
    Payment<br>Info
  </span>
  <span id='progressLineDot3'></span>
  <span id='progressLineDot3_text'>
    Bill<br>Info
  </span>
</div>
