<div id='about-es' class='container'>
	<h3 class='bold about-heading'>About Energy Simply</h3>
        
        <div class='narrow-hr about-hr center-block'><hr></div>

  <p class="about-body">Energy Simply was born out of a frustration with choosing an electricity provider on 
          <br>Power To Choose and the need to constantly change plans to get the best deal. </p>

        <p class='bold about-body'>With Energy Simply all that becomes a thing of the past.</p>
        
        <div class='about-list center-block'>
            <ul class='about-body ul-ls-none'>
                <li class='li-check'>&nbsp;&nbsp;&nbsp;We Are Independent</li>
                <li class='li-dot li-indented'>&nbsp;&nbsp;&nbsp;We have no contractual relationships with any power companies.</li>
                <li class='li-check'>&nbsp;&nbsp;&nbsp;We Only Work For You</li>
                <li class='li-dot li-indented'>&nbsp;&nbsp;&nbsp;You can rest secured that you are always in the best deal.</li>
            </ul>
        </div>

        <p class='bold-small-heading about-body'>It just takes 3 easy steps:</p>
	<div class='row steps-list center-block'>
                        
            <div class='step-div'>
              <div class='steps-circles'>1</div>
              <div class='step-text'>
                    Sign up on the site for our Gold Plan
              </div>
            </div>
            
            <div class='step-div'>
              <div class='steps-circles'>2</div>
              <div class='step-text'>
                    We help you sign up for the best plan possible
              </div>
            </div>
            
            <div class='step-div'>
              <div class='steps-circles'>3</div>
              <div class='step-text'>
                    When that plan expires we switch you to the best available plan
              </div>
            </div>

        </div>
        
        <div class='row yellow-strong col-md-12 '><br>
		      Simplify Your Life and Save Money with Energy Simply!
	      </div>
  </div>