              <h3 class='featured-header'>CHALLENGES IN CHOOSING POWER PLANS HAVE BEEN MENTIONED IN:</h3>
              <div class='narrow-hr quotes-hr center-block'><hr></div><br/>
              <div class='three-points-left-spacer hidden-xs col-sm-1'>&nbsp;</div>
              <div class='col-md-3'>
                <%= link_to(image_tag(asset_path("featured_nyt.png"), :alt => "New York Times"), "http://www.nytimes.com/2007/12/02/nyregion/nyregionspecial2/02powerwe.html") %>
              </div>
              <div class='three-points-left-spacer hidden-xs col-sm-1'>&nbsp;</div>
              <div class='col-md-3'>
                   <%= link_to(image_tag(asset_path("featured_forbes.png"), :alt => "Forbes"), "http://www.forbes.com/sites/peterdetwiler/2014/02/28/our-retail-electricity-bill-just-killed-our-summer-vacation/") %>
              </div>
              <div class='three-points-left-spacer hidden-xs col-sm-1'>&nbsp;</div>
              <div class='col-md-3'>
                <%= link_to(image_tag(asset_path("featured_lifehacker.png"), :alt => "Lifehacker"), "http://twocents.lifehacker.com/lower-your-electric-bill-with-ideal-season-rates-1538242731") %>
              </div>
