<div class='three-points-wrap col-md-12 row'>

  <div class='three-points-left-spacer hidden-xs col-sm-1'>&nbsp;</div>

  <div class='three-points col-md-3 col-sm-3'>
    <span class="glyphicon glyphicon-usd"></span><br>
    <h4 class='three-points-subhead'>Save Money</h6>
    <p class='three-points-text'>
      We reduce your energy bill up to $50/month through tailored analysis of all available plans
    </p>
  </div>
 <div class='three-points-left-spacer hidden-xs col-sm-1'>&nbsp;</div>

  <div class='three-points col-md-3 col-sm-3'>
    <span class="glyphicon glyphicon-picture"></span><br>
    <h4 class='three-points-subhead'>Rest Easy</h6>
    <p class='three-points-text'>
      We always get you the best deal available of all the plans being offered by all the power companies 
    </p>
  </div>
 <div class='three-points-left-spacer hidden-xs col-sm-1'>&nbsp;</div>

  <div class='three-points col-md-3 col-sm-3'>
    <span class="glyphicon glyphicon-time"></span><br>
    <h4 class='three-points-subhead'>Get Concierge Service</h6>
    <p class='three-points-text'>
      We remember when your plan expires and automatically get you a great new deal so you don't have to</p>
  </div>

</div>
