<% @title="About | Beyond Power To Choose | Easy Cheap Power | Energy Simply" %>
<% @description="Energy Simply does all the work, so you always have the cheapest traditional or renewable electric power plan. We work for you not the power companies." %>

<div class='standard-es-head row'>
	<h3 class='standard-heading'>About Energy Simply</h3>
</div>
<div class='standard-body'>
	<p>Energy Simply was born out of a frustration with choosing an electricity provider on
          Power To Choose and the need to constantly change plans to get the best deal. </p>

        <p>You either have to try to figure out the best plan for yourself from among the hundreds of publicly available offers, 
        <span class='blue-italics'> or use a website that is getting kickbacks from the
          companies themselves to help you choose.</span></p>

        <p>Then, when your plan expires, you have to do it all over again and if you
          weren't paying attention and missed your plan expiration your company will charge you high variable rates.</p>

        <p class='bold'>With Energy Simply all that becomes a thing of the past.</p>

        <div class='about-list-blue'>
            <ul class='ul-ls-none'>
                <li class='li-blue-check blue-bold'>&nbsp;&nbsp;&nbsp;We are INDEPENDENT.</li>
                <li class='li-dk-blue-dot li-indented'>&nbsp;&nbsp;&nbsp;We have no contractual relationships with any of the power companies.</li>
                <li class='li-blue-check blue-bold'>&nbsp;&nbsp;&nbsp;We work for you.</li>
                <li class='li-dk-blue-dot li-indented'>&nbsp;&nbsp;&nbsp;You can rest secured that you are always in the best deal.</li>
            </ul>
        </div>

        <p class='bold-small-heading '>It just takes 3 easy steps:</p>
	<div class='row steps-list-about'>

            <div class='step-div-about'>
              <div class='steps-circles-about'>1</div>
              <div class='step-text-about'>
                    Sign up on the site for our Gold or Basic Plan
              </div>
            </div>

            <div class='step-div-about'>
              <div class='steps-circles-about'>2</div>
              <div class='step-text-about'>
                    We review your unique situation to identify and sign you up for the best plan.
              </div>
            </div>

            <div class='step-div-about'>
              <div class='steps-circles-about'>3</div>
              <div class='step-text-about'>
                    When that plan expires or when the savings are so great that it makes sense to cancel
                    your plan early, we switch you to the best plan available.
              </div>
            </div>

        </div>

        <p>Then you can rest easy because you will know that you are getting the best deal without any of the work.</p>

        <div class='row blue-strong col-md-12 '>
		Simplify Your Life and Save Money with Energy Simply!
	</div>
</div>