<% @title="We Keep You In A Cheap Energy Plan...Automatically | Energy Simply" %>
<% @description="Energy Simply does all the work, so you always have a cheap traditional or renewable electric power plan. We work for you not the power companies." %>

<script src="//cdn.optimizely.com/js/1929190520.js"></script>
        <div class="col-md-12 row" id='home-blurb'>
          <h2 id="save-money-spacing">
          <span id='save-money'>Energy Simply Keeps You In Cheap<br/>Power Plans...Automatically</span>
        </div></h2>
    </div>
    <div class="col-md-12 row">

      <div class='col-md-2' id='home-form-container-left-spacer'>
        &nbsp;
      </div>
      <div class='col-md-4 col-sm-12' id='home-zip-form-container'>
              <%= render "home_zip_form" %>
      </div>
      <div class='col-md-6' id='home-form-container-right-spacer'>
        &nbsp;
      </div>   
    </div>
</div>
</div>