<% @title="Contact Energy Simply" %>
<% @description="Contact Energy Simply for More Info." %>

<div id="contactUsSubmitResponseDiv">
  <h2>Thank You for Contacting&nbsp;Us</h2>
  <h3 id='contactUsSubmitResponseText'>We will be in touch with you&nbsp;shortly.</h3>
</div>
