<% @title="We Keep You With The Cheapest Electric Companies...Automatically | Energy Simply" %>
<% @description="Energy Simply does all the work, so you always have a plan with the cheapest electric company. We work for you not the electric companies." %>

<script src="//cdn.optimizely.com/js/1929190520.js"></script>
        <div class="col-md-12 row" id='home-blurb'>
          <h2 id="save-money-spacing">
          <span id='save-money'>Energy Simply Keeps You With The Cheapest<br/>Electric Companies...Automatically</span>
        </div></h2>
    </div>
    <div class="col-md-12 row">

      <div class='col-md-2' id='home-form-container-left-spacer'>
        &nbsp;
      </div>
      <div class='col-md-4 col-sm-12' id='home-zip-form-container'>
              <%= render "home_zip_form" %>
      </div>
      <div class='col-md-6' id='home-form-container-right-spacer'>
        &nbsp;
      </div>   
    </div>
</div>
</div>






        
<script>
  //mixpanel.track("Viewed landing page");
</script>
