<% @title="We Keep You In The Cheapest Power Plan...Automatically | Energy Simply" %>
<% @description="Energy Simply does all the work, so you always have the cheapest traditional or renewable electric power plan. We work for you not the power companies." %>

<script src="//cdn.optimizely.com/js/1929190520.js"></script>

  <section class="panel-splash">
    <div class="page-top-title3">
      <h1>Don’t Worry About Choosing An Electric Company... <br>
       <span>We’ll Do It For You</span>
      </h1>
    </div>

    <div class="splash-wrap clearfix container">
      <div class="splash-btn">  
        <a href="/savings_calculator" class="btn btn-blue">CALCULATE SAVINGS</a> 
        <a href="/how-it-works" class="btn btn-yellow">Learn more</a>
        <a href="/users/sign_up?plan_grade=gold" class="btn btn-red">Sign up and start Saving</a> 
      </div>
      <div class="right-embed">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="wistia_tnpdrr1cg7" class="wistia_embed" style="width:480px;height:298px;"><div itemprop="video" itemscope itemtype="http://schema.org/VideoObject"><meta itemprop="name" content="See How Energy Simply Works" /><meta itemprop="duration" content="PT1M29S" /><meta itemprop="thumbnailUrl" content="https://embed-ssl.wistia.com/deliveries/538ab5da6350af0199e8f37354c25f4289af643f.bin" /><meta itemprop="contentURL" content="https://embed-ssl.wistia.com/deliveries/ec76196d152dc237a80f6e84fc0f84eb48357180.bin" /><meta itemprop="embedURL" content="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27&autoPlay=false&banner=true&controlsVisibleOnLoad=false&customColor=737373&endVideoBehavior=reset&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=28959075&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6ceadfa22d0892582c78bbf4c983e46517476153.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=89.036&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F538ab5da6350af0199e8f37354c25f4289af643f.jpg%3Ft%3D1427211326118%26image_crop_resized%3D480x270&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fec76196d152dc237a80f6e84fc0f84eb48357180.bin" /><meta itemprop="uploadDate" content="2015-03-22T04:47:16Z" /><object id="wistia_tnpdrr1cg7_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:270px;position:relative;width:480px;"><param name="movie" value="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27"></param><param name="allowfullscreen" value="true"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="autoPlay=false&banner=true&controlsVisibleOnLoad=false&customColor=737373&endVideoBehavior=reset&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=28959075&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6ceadfa22d0892582c78bbf4c983e46517476153.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=89.036&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F538ab5da6350af0199e8f37354c25f4289af643f.jpg%3Ft%3D1427211326118%26image_crop_resized%3D480x270&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fec76196d152dc237a80f6e84fc0f84eb48357180.bin"></param><embed src="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27" allowfullscreen="true" bgcolor=#000000 flashvars="autoPlay=false&banner=true&controlsVisibleOnLoad=false&customColor=737373&endVideoBehavior=reset&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=28959075&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6ceadfa22d0892582c78bbf4c983e46517476153.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=89.036&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F538ab5da6350af0199e8f37354c25f4289af643f.jpg%3Ft%3D1427211326118%26image_crop_resized%3D480x270&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fec76196d152dc237a80f6e84fc0f84eb48357180.bin" name="wistia_tnpdrr1cg7_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object><noscript itemprop="description"><h2>Energy Simply is your<strong>ally</strong>against the electric companies</h2><p>We keep you in the best electric power plan<em>automatically</em>.</p><p><strong>Never</strong>have to use Power To Choose or research electric companies on your own ever again.</p><p>To sign up visit<a href="https://www.energysimp.ly">www.EnergySimp.ly</a>.</p></noscript></div></div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("tnpdrr1cg7", {
  videoFoam: true
});
</script>
<script charset="ISO-8859-1" src="//fast.wistia.com/embed/medias/tnpdrr1cg7/metadata.js"></script>
        </div>
      </div>
    </div>
    <!--splash-wrap-->
  </section>
  <!--panel-video-->

  <div class="scroll-wrap">
    <a href="#">
      <span class="inline-arrow"></span>  
    </a>
  </div>
  <!--scroll-wrap-->


