<% @title="Locations | Texas Electricity | Illinois Electricity | Energy Simply" %>
<% @description="Energy Simply does all the work for customers in Texas, including Houston and Dallas, and Illinois including Chicago so you will always have the cheapest electric power plan" %>
<div class='standard-es-head row'>
	<h3 class='standard-heading'>Areas We Serve</h3>
</div>
<br/>
	<div class='location-image' 'col-xs-12'>
		<%= link_to(image_tag(asset_path("area_of_operations.png"), :alt => "Energy Simply serves the Texas and Illinois markets."), "/") %>
	 </div>