<% @title="Our Mission | Energy Simply" %>
<% @description="Our mission is to simplify retail energy markets for consumers by removing the main barriers to access, lack of expertise and lack of time.
" %>

<div class='standard-es-head row'>
	<h3 class='standard-heading'>Our Consumers First Mission</h3>
</div>
<div class='standard-body'>
	<h4>Our mission is to <span class="bold">simplify retail energy markets for consumers</span> by removing the main barriers to access, both lack of expertise about the industry and lack of time required to select and signup for the best plans. </h4>
        <div class='about-list-blue'>
            <ul class='ul-ls-none mission-list'>
                <li class='li-indented mission-list-item'><span class="bold">We</span> get our revenue comes from consumers, not the power companies, so you can be sure that retail customers will always come first.</li>
                <li class='li-indented mission-list-item'><span class="bold">We</span> will always advocate for consumers, and all our actions are with the goal of saving them the most money and/or getting them the most environmentally responsible option possible.</li>
                <li class='li-indented mission-list-item'><span class="bold">We</span> are dedicated to protecting our customers from greedy power companies and unfair deals.</li>
                <li class='li-indented mission-list-item'><span class="bold">We</span> respect the privacy of our customers and believe that respect is a critical component of our customer's come first strategy.</li>
                 <li class='li-indented mission-list-item'><span class="bold">We</span> will never create any partnerships with power providers that would incentivize us to make decisions contrary to the interests of our customers.</li>
            </ul>
        </div>
  </div>