<% @title="Terms of Use| Energy Simply" %>
<% @description="Energy Simply site and plan Terms of Use." %>

<div class="container">
    <h2>Energy Simply Terms Of Use</h2>

    <div class="col-md-10 terms">
        <p>
            This site is offered to you conditioned on your acceptance without modification of the terms, conditions and notices contained herein. Your use of this site constitutes your agreement to all such terms, conditions and notices. This site is powered and operated by EnergySimply LLC ("Energy Simply", "we" or "us"). You must be 18 years of age or older to use this site.
        </p>
        <p>
            <b>Energy Simply</b> is a service of EnergySimply LLC, that, among other things, allows subscribers to locate, evaluate, and enroll in energy services with third party providers. By using the Service, you accept the terms of this Agreement. This is a legally binding agreement between you and Energy Simply.
        </p>
        <p>
            Energy Simply operates solely as a service provider by providing prospective buyers access to pre-screened energy offers that meet certain proprietary conditions. You are not permitted to use the Service unless you have successfully subscribed to be a customer of the Service (“Customer”).
        </p>
        <p>
            The Service is available to Customers to assist in the purchase of energy. Additionally, optional related services may be purchased. The price and other terms remain subject to service agreements between the buying Customer and the third party provider. Energy Simply cannot guarantee the rates and/or services provided by the third party vendor.
        </p>
        <p>
            Energy Simply has the right to cancel or suspend a Customer’s account at any time and without notice upon a breach, violation or non-compliance of this Agreement or any other policies, terms of use, or agreements of Energy Simply. Notwithstanding the foregoing, under no circumstances shall Energy Simply be required to issue refunds hereunder.
        </p>
        <p>
            Energy Simply is the provider of the Service and is not a party to any contract concluded pursuant to the Service. Energy Simply is not responsible or liable to any Customer, or any other user of the Service in any way, including, without limitation, any disputes arising out of the contract between Customers and third party energy service providers, such as disputes related whether the parties have fully performed their obligations thereunder and any disputes related to whether a contract has been validly entered into or concluded.
        </p>
        <p>
            Each energy transaction shall be consummated directly between the Customer and third party provider, and Energy Simply has no interest, as broker or otherwise, in such transaction.
        </p>

        <h5>Copyright and Trademark Notices</h5>
        <p>
            The materials, content, data and information provided to or made available through the Service are the property of Energy Simply or its licensors, and are protected by U.S. copyright laws, other copyright laws, and international conventions. Except as explicitly provided for in this Agreement, you may not distribute, transmit, display, reproduce, modify, create derivative works from, or otherwise exploit any of the materials available through the Service.
        </p>
        <p>
            Energy Simply and the names of other products and services referred to through the Service are the trademarks of EnergySimply LLC and their respective owners. You may not use any trademark or service mark appearing through the Service without the prior written consent of the owner of the mark.
        </p>

        <h5>Fees</h5>
        <p>
            The use of the Energy Simply site requires a Energy Simply service subscription, and we currently offer monthly subscriptions. A separate service subscription is required for each meter.
        </p>
        <p>
            Some notes about Energy Simply service subscriptions:
        </p>
        <p>
            Until you cancel a subscription by notifying Energy Simply customer service at <a href="mailto:admin@energysimp.ly">admin@energysimp.ly</a>, it will automatically renew at the end of each subscription term at the same fee (even if you are not using the Energy Simply service).
        </p>
        <p>
            Monthly Energy Simply service subscriptions may not be transferred to another meter or subscriber.
        </p>
        <p>
            Although we strive to make the Energy Simply service available as much as possible, there may be periods of downtime (for example, for scheduled maintenance, software updates, or events outside of our reasonable control).
        </p>

        <h5>
            Multi-Service Discount
        </h5>
        <p>
            In some cases, we offer discounted Energy Simply service fees when you have more than one meter on the same account. Contact customer service at <a href="mailto:admin@energysimp.ly">admin@energysimp.ly</a> for more information.
        </p>

        <h5>
            Payment Terms
        </h5>
        <p>
            When you provide credit card information to us, you represent that you are the authorized user of the card, and agree to notify us of any changes to the relevant account number, expiration date, and billing address, or if the card expires or is canceled. You agree that we may receive updated credit card information (such as a new expiration date) from your credit card issuer.
        </p>
        <p>
            We will charge your credit card on each billing date for your Energy Simply service subscription, and (if applicable) when we process early termination fees. You are responsible for reviewing your credit card statement for billing accuracy.
        </p>
        <p>
            Unless notified by Energy Simply, your service subscription will automatically renew at the end of each subscription term at the same fee, and you authorize us to automatically charge the subscription fee to your credit card each billing date until you cancel your subscription 30 days prior to auto-renewal by contacting customer service at <a href="mailto:admin@energysimp.ly">admin@energysimp.ly</a>.  Subscription fees paid prior to cancellation are nonrefundable.
        </p>
        <p>
            Some notes about payments:
        </p>
        <p>
            By subscribing to the Energy Simply service, you authorize us to charge the applicable subscription fees (and any other applicable fees, such as an early termination fee) to your credit card on file.
        </p>
        <p>
            If your credit card reaches its expiration date and you have not updated your payment information with us or cancelled your account, you authorize us to continue billing your credit card and you will remain responsible for any uncollected amounts.
        </p>
        <p>
            Each charge on the applicable billing date applies to the subscription period immediately following the billing date (so a charge for a monthly subscription in January is for the Energy Simply service in the month of February).
        </p>
        <p>
            All prices on EnergySimp.ly are listed in U.S. Dollars.
        </p>
        <p>
            We reserve the right to increase the monthly subscription fee for Energy Simply service subscribers paying month-to-month with no commitment, but we will notify you 30 days in advance. If you do not accept the new fees, you should terminate your subscription before the new fees go into effect.
        </p>
        <p>
            We reserve the right to suspend or terminate your subscription to the service without notice if your credit card is rejected or if your card issuer seeks the return of payments previously made to us. You agree to pay (1) any outstanding balance in full within 30 days of cancellation of your subscription, and (2) a late charge on all amounts more than 30 days past due. The late charge will be 1.5% of the past due amount or the highest rate allowed by law (whichever is less) per month. Such rights are in addition to and not in lieu of any other legal right or remedies available to Energy Simply.
        </p>
        <p>
            We also reserve the right to refer your account to a third party for collection to pursue unpaid amounts, and you will remain liable to us for all unpaid charges and all the costs we incur to collect those charges (such as collection agency fees).
        </p>

        <h4><u><b>Services</u></b></h4>
        <h5>General</h5>
        <p>
            You agree that no joint venture, partnership, or employment exists between you and us as a result of this agreement or use of this site. Nothing contained in this site shall be construed to prevent us from complying with law enforcement requests or requirements relating to your use of this site or information provided to or gathered by us with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision, and the remainder of the agreement shall continue in effect. This agreement constitutes the entire agreement between you and us with respect to your use of this site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. Fictitious names of companies, products, people, characters and/or data mentioned herein are not intended to represent any real individual, company, product, or event. Any rights not expressly granted herein are reserved.
        </p>
        <h5>
            Use of Our Services
        </h5>
        <p>
            Whenever you order or purchase a service or product through this site you are warranting to us and the applicable service provider that you are at least 18 years of age and possess the legal authority to enter into the transactions made available through this site and will use this service in accordance with all terms and conditions herein and as set forth in this site. You agree to be financially responsible for your use of and all transactions made in connection with services and products ordered or purchased through this site. Without limitation, any speculative, false or fraudulent purchase, order, reservation or notification to any service provider through this site is prohibited. You agree that you will be completely responsible for all charges, fees, duties, taxes and assessments arising out of the purchases and orders you make through this site.
        </p>
        <h5>
            Liability Disclaimer
        </h5>
        <p>
            IF YOU RELY ON THE SERVICE, OR ANY INFORMATION, PRODUCT OR SERVICE AVAILABLE THROUGH THE SERVICE, YOU DO SO AT YOUR OWN RISK. YOU UNDERSTAND THAT THERE MAY BE DELAYS, OMISSIONS, INTERRUPTIONS, INACCURACIES, AND/OR OTHER PROBLEMS WITH THE INFORMATION, PRODUCTS, AND SERVICES PUBLISHED ON OR PROMOTED OVER THE SERVICE. THE SERVICE AND THE WEBSITE ARE PROVIDED TO YOU "AS IS." Energy Simply AND ITS AFFILIATES, AGENTS AND LICENSORS, CANNOT AND DO NOT WARRANT THE ACCURACY, COMPLETENESS, CURRENTNESS, NONINFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OF THE INFORMATION AVAILABLE THROUGH THE SERVICE (OR ANY INFORMATION, GOODS OR SERVICES THAT ARE REFERRED TO, ADVERTISED OR PROMOTED ON, OR SOLD THROUGH THE SERVICE). NOR DOES ENERRGYSIMPLY LLC, ITS AFFILIATES, AGENTS AND LICENSORS GUARANTEE THAT THE SERVICE WILL BE ERROR FREE, OR CONTINUOUSLY AVAILABLE, OR THAT THE SERVICE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
        </p>
        <p>
            UNDER NO CIRCUMSTANCES WILL ENERGY SIMPLY LLC OR ITS AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES, COSTS, EXPENSES, FEES OR LIABILITIES ARISING OUT OF YOUR USE OF THE SERVICE OR ANY PRODUCT OR SERVICE LINKED TO FROM OR ADVERTISED OR PROMOTED ON THE SERVICE, INCLUDING, WITHOUT LIMITATION, DIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, OR OTHER DAMAGES OF ANY KIND (INCLUDING LOST REVENUES OR PROFITS, LOSS OF BUSINESS OR LOSS OF DATA), EVEN IF ENERGYSIMPLY LLC IS ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THESE LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH CASES, ENERGYSIMPLY LLC’S LIABILITY IS LIMITED TO THE SUBSCRIPTION FEES YOU PAID DURING THE PERIOD OF YOU ENERGY SERVICES CONTRACT. YOU AGREE TO INDEMNIFY AND HOLD HARMLESS ENERGYSIMPLY LLC, ITS EMPLOYEES, OWNERS, REPRESENTATIVES, AND LICENSEES AGAINST ANY AND ALL CLAIMS, OF WHATEVER NATURE, THAT ARISE OUT OF YOUR USE OF THE SERVICE.
        </p>

        <h5>
            No Unlawful or Prohibited Use
        </h5>
        <p>
            As a condition of your use of this site, you warrant that you will not use this site for any purpose that is unlawful or prohibited by these terms, conditions and notices.
        </p>

        <h5>
            Energy Service Providers
        </h5>
        <p>
            This site does not represent or imply that any service category available on this site contains a complete or comprehensive list or choice of all service providers that can provide service to you at your particular address. This site may exclude certain service providers that do not meet Energy Simply’s proprietary standards. Accordingly, there may be service providers that can provide you with service at your particular address that do not appear on this site. You are in no way obligated to use this site or to choose any particular service provider that is recommended by Energy Simply.
        </p>

        <h5>Modification of These Terms and Conditions</h5>
        <p>
            We reserve the right to change the terms, conditions and notices under which this site is offered.
        </p>

    </div>
</div>
