<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> </head>

<body>

   
<p><%= @referrer.first_name%> <%= @referrer.last_name%> wanted to let you know you can save money on your 
energy costs by getting independent power plan reports or concierge service from <a href="https://EnergySimp.ly">EnergySimp.ly</a>.</p>


</body>
</html>
