<% @title='Power Plan Comparison | Illinois Energy Company Rankings | Energy Simply' %>
<% @description='All energy companies offering residential power plans in Illinois with price rankings and Power To Choose and Better Business Bureau Ratings' %>
 
<div class='standard-es-head row'>
    <h3 class='standard-heading'>Illinois Power Plan Comparisons</h3>
</div>
<div class='standard-sub-head row'>
    All residential Illinois energy companies offering plans on Plug In Illinois (Updated January 27, 2015)
</div>



