<% @title='Power Plan Comparison | Texas Energy Company Rankings | Energy Simply' %>
<% @description='All energy companies offering residential power plans in Texas with price rankings and Power To Choose and Better Business Bureau Ratings' %>
 
<div class='standard-es-head row'>
    <h3 class='standard-heading'>Texas Power Plan Comparisons</h3>
</div>
<div class='standard-sub-head row'>
    All residential Texas energy companies offering plans on Power To Choose (Updated January 27, 2015)
</div>

